{% extends "base_latest_react.html" %}

{% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="/static/css/account_profile.css" />
    <script type="text/javascript" src="/static/js/third-party/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/d3-tip.js"></script>

    <script type="text/jsx" src="/static/js/account_profile/uptime.js"></script>
    <script type="text/jsx" src="/static/js/account_profile/clearbit.js"></script>
    <script type="text/jsx" src="/static/js/account_profile/zendesk.js"></script>
    <script type="text/jsx" src="/static/js/account_profile/sense.js"></script>
    <script type="text/jsx" src="/static/js/account_profile/pill.js"></script>
    <script type="text/jsx" src="/static/js/account_profile/last_room_conditions.js"></script>
    <script type="text/jsx" src="/static/js/account_profile/main.js"></script>
{% endblock %}

{% block content %}
    <div id="account-profile"></div>
{% endblock %}
