<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        Admin &#10148;
        {% block title %}
        {% endblock %}
    </title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block static %}
    <script type="text/javascript" src="/static/js/third-party/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-bootstrap-0.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/typeahead.js"></script>
    <script type="text/jsx" src="/static/js/base.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-xl.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/glyphicon-control.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/tablesorter-control.css"/>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% endblock %}

    {% block extrastatic %}
    {% endblock %}

</head>
<body>
    <div class="header row">
        <div class="header-title">
            <img class="header-logo" src="/static/image/favicon.png"/>
            <div class="header-name">Admin Panel</div>
        </div>

        <div class="col-xs-11 header-namespace">
            {% for nsp in available_namespaces %}
                <span onclick="location.href='/api/namespace/?namespace={{nsp}}'" {% if nsp == namespace %} class="namespace-active" {% endif %}>{{nsp}}</span>&nbsp;&nbsp;
            {% endfor %}
        </div>

        <div class="col-xs-1 header-logout">
            <span onclick="location.href='{{logout_url}}'"> Logout</span>
        </div>
    </div>

    <div class="row">
        <input type="hidden" id="viewer" value="{{user}}">
        <input type="hidden" id="is-super-engineer" value="{{is_super_engineer}}">
        <div class="sidebar">
            <div class="list-group">
                <span class="sidebar-group sidebar-group-first list-group-item">Account</span>
                <span {% if title == "Account Profile"%} class="list-group-item-active"{% endif %}><a href="/account_profile" class="list-group-item">Profile</a></span>
                <span {% if title == "Recent Accounts"%} class="list-group-item-active"{% endif %}><a href="/recent_accounts" class="list-group-item">Recent List</a></span>
                <span {% if title == "Password Reset"%} class="list-group-item-active"{% endif %}><a href="/password_reset" class="list-group-item">Password Reset</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Device</span>
                <span {% if title == "Troubleshoot"%} class="list-group-item-active"{% endif %}><a href="/inactive_devices" class="list-group-item">Inactive List</a></span>
                <span {% if title == "Latest pills"%} class="list-group-item-active"{% endif %}><a href="/latest_pills" class="list-group-item">Latest Pills</a></span>
                <span {% if title == "Active Devices History"%} class="list-group-item-active"{% endif %}><a href="/active_devices_history" class="list-group-item">Count History</a></span>
                <span {% if title == "Dropout Devices"%} class="list-group-item-active"{% endif %}><a href="/dropout_devices" class="list-group-item">Dropout Devices</a></span>
                <span {% if title == "PCH Serial Number Check"%} class="list-group-item-active"{% endif %}><a href="/pch_serial_number_check" class="list-group-item">Serial Check</a></span>
                <span {% if title == "Keystore"%} class="list-group-item-active"{% endif %}><a href="/keystore" class="list-group-item">Keystore</a></span>
                <span {% if title == "Key Store Batch"%} class="list-group-item-active"{% endif %}><a href="/key_store_batch" class="list-group-item">Keystore Batch</a></span>
                <span {% if title == "Provision"%} class="list-group-item-active"{% endif %}><a href="/provision" class="list-group-item">Provision</a></span>
                <span {% if title == "Pairing"%} class="list-group-item-active"{% endif %}><a href="/pairing" class="list-group-item">Pairing</a></span>
                <span {% if title == "Dust Calibration Left Over"%} class="list-group-item-active"{% endif %}><a href="/dust_calibration_left_over" class="list-group-item">Uncalibrated Senses</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Firmware</span>
                <span {% if title == "Firmware"%} class="list-group-item-active"{% endif %}><a href="/firmware" class="list-group-item">Firmware History</a></span>
                <span {% if title == "Firmware Upgrade Path"%} class="list-group-item-active"{% endif %}><a href="/firmware_path" class="list-group-item">Upgrade Path</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Data</span>
                <span {% if title == "Timeline V2"%} class="list-group-item-active"{% endif %}><a href="/timeline_v2" class="sidebar-group list-group-item">Timeline V2</a></span>
                <span {% if title == "Insights"%} class="list-group-item-active"{% endif %}><a href="/insights" class="sidebar-group list-group-item">Insights</a></span>
                <span {% if title == "Trends"%} class="list-group-item-active"{% endif %}><a href="/trends" class="sidebar-group list-group-item">Trends</a></span>
                <span {% if title == "Room Conditions"%} class="list-group-item-active"{% endif %}><a href="/room_conditions" class="list-group-item">Room Conditions</a></span>
                <span {% if title == "Heartbeat"%} class="list-group-item-active"{% endif %}><a href="/heartbeat" class="list-group-item">Pill Heartbeat</a></span>
                <span {% if title == "Motion"%} class="list-group-item-active"{% endif %}><a href="/motion" class="list-group-item">Tracker Motion</a></span>
                <span {% if title == "Sense Events"%} class="list-group-item-active"{% endif %}><a href="/sense_events" class="list-group-item">Sense Events</a></span>
                <span {% if title == "Alarms, Ringtime & Timezone"%} class="list-group-item-active"{% endif %}><a href="/alarm_rings_history" class="list-group-item">Rings History</a></span>
                <span {% if title == "Feedback"%} class="list-group-item-active"{% endif %}><a href="/feedback" class="list-group-item">Feedback</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Logs</span>
                <span {% if title == "Sense Logs ES"%} class="list-group-item-active"{% endif %}><a href="/sense_logs_es" class="list-group-item">Sense Logs ES</a></span>
                <span {% if title == "Logs Level"%} class="list-group-item-active"{% endif %}><a href="/logs_level" class="list-group-item">Logs Level</a></span>
                <span {% if title == "Onboarding Logs"%} class="list-group-item-active"{% endif %}><a href="/onboarding_logs" class="list-group-item">Onboarding Logs</a></span>
                <span {% if title == "Timeline Logs"%} class="list-group-item-active"{% endif %}><a href="/timeline_logs" class="list-group-item">Timeline Logs</a></span>
                <span {% if title == "Timeline Logs History"%} class="list-group-item-active"{% endif %}><a href="/timeline_logs_history" class="list-group-item">Timeline Logs History</a></span>
                <span {% if title == "Logs Facet"%} class="list-group-item-active"{% endif %}><a href="/logs_facet" class="list-group-item">Facets</a></span>
                <span {% if title == "Sense Logs ES Aggregation"%} class="list-group-item-active"{% endif %}><a href="/es_aggregation" class="list-group-item">ES Logs Aggregations</a></span>
                <span {% if title == "ES Status"%} class="list-group-item-active"{% endif %}><a href="/es_status" class="list-group-item">ES Status</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Support</span>
                <span {% if title == "Orders"%} class="list-group-item-active"{% endif %}><a href="/orders" class="list-group-item">Orders</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Operation</span>
                <span {% if title == "Features"%} class="list-group-item-active"{% endif %}><a href="/features" class="list-group-item">Features</a></span>
                <span {% if title == "Teams"%} class="list-group-item-active"{% endif %}><a href="/teams" class="list-group-item">Teams</a></span>
                <div class="list-group-separator list-group-item"><hr></div>

                <span class="sidebar-group list-group-item">Site Admin</span>
                <span {% if title == "Token Generator"%} class="list-group-item-active"{% endif %}><a href="/token_generator" class="list-group-item">Token Generator</a></span>
                <span {% if title == "Settings"%} class="list-group-item-active"{% endif %}><a href="/settings" class="list-group-item">Settings</a></span>
                <span class="sidebar-group sidebar-group-last list-group-item">Site Admin</span>
            </div>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        version: {{version}} ---- <span id="err"></span>
    </div>
</body>
