{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <style>
		body {text-align:center; font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size:14px;}
		.error_page {width: 600px; padding: 50px; margin: auto;}
		.error_page h1 {margin: 20px 0 0;}
		.error_page p {margin: 10px 0; padding: 0;}
		a {color: #9caa6d; text-decoration:none;}
		a:hover {color: #9caa6d; text-decoration:underline;}
    </style>
{% endblock %}

{% block content %}
  <div class="error_page">
    <img alt="Kidmondo_face_sad" src="/static/image/sad_face.gif">
    <h3>Oops ! Wrong way</h3>
    <p><a href="/">Return to the homepage</a></p>
  </div>

{% endblock %}