{% extends "base.html" %}

{% block extrastatic %}
    <script type="text/javascript" src="/static/js/third-party/spectrum.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap-slider.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-slider.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fw_groups.css" />
    <script type="text/javascript" src="/static/js/third-party/bootstrap-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/third-party/long-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/fw_groups.js"></script>

{% endblock %}

{% block content %}
    <div id="fw_groups"></div>
{% endblock %}
