{% extends "base.html" %}
{% block extrastatic %}
	<link rel="stylesheet" href="/static/css/motion.css">
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/nv.d3.min.css" />

    <script type="text/javascript" src="/static/js/third-party/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/moment.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/nv.d3.min.js"></script>

    <script type="text/jsx" src="/static/js/custom/file_exporter.js"></script>
    <script type="text/jsx" src="/static/js/third-party/long-datetimepicker.js"></script>
    <script type="text/jsx" src="/static/js/motion.js"></script>

{% endblock %}

{% block content %}
    <div class="col-xs-12" id="motion-canvas"></div>
{% endblock %}

