{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h3 xmlns="http://www.w3.org/1999/html">Setup</h3>
    <hr class="fancy-line"/>
    <br>

    <p>1. Create dev and staging configuration files based on config.example.yml in project root level </p>
    <br>

    <p>2. Upsert dev config <a target="_blank" href="/api/init/?namspace=dev">here</a></p>
    <br>

    <p>3. Upsert staging config <a target="_blank" href="/api/init/?namspace=staging">here</a></p>
    <br>
    <br>

{% endblock %}
