{% extends "base.html" %}

{% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/static/css/timeline_v2.css">

    <script type="text/javascript" src="/static/js/third-party/modernizr.js"></script>
    <script type="text/javascript" src="/static/js/third-party/moment.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/jquery.knob.min.js"></script>

    <script type="text/jsx" src="/static/js/custom/long-label.js"></script>
    <script type="text/jsx" src="/static/js/custom/file_exporter.js"></script>
    <script type="text/jsx" src="/static/js/third-party/long-datetimepicker.js"></script>
    <script type="text/jsx" src="/static/js/custom/long-circular-bar.js"></script>
    <script type="text/jsx" src="/static/js/timeline_v2.js"></script>

{% endblock %}

{% block content %}
    <div class="col-xs-12" id="timeline-canvas"></div>
{% endblock %}

