.tile {
    box-shadow: 2px 2px 13px 0 rgba(1,1,0,.1);
    -webkit-border-radius: 6px;
    padding: 10px 10px 0 10px;
    border-radius: 6px;
    display: block;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    background-color: white;
    margin-bottom: 20px;
    max-width: 400px;
}

body {
    background-image: url(/static/image/grey.png);
}

.tile-title {text-transform: uppercase;}
.not-ok {color: #ff0000;}
.tile-content {font-size: 90%;}
#submit{max-width: 700px;}
.stress {font-weight: bold;}
.tile-icon {height: 18px; margin: 0 0 -3px 8px; opacity: 0.6;}
.tile-title {text-align: center;}
.loader {text-align: center;}

.score-badge {
    display: block;
    height: 22px;
    padding: 4px 0;
    color: black;
    width: 23px;
    border: 1px dotted #000000;
    border-radius: 100%;
    background-color: white;
}

#submit {
    left: inherit;
    top: 0;
    right: 12px;
}
#account-input {
    padding-left: 15px;
}

.tile-zendesk {
    max-width: 100% !important;
}
.tile-icon-wrapper {
    text-align: left;
}

.carousel-content {
    background: white;
    color:black;
    display:flex;
    align-items:center;
}
.carousel-control {
    background-image: none !important;
    width: 40px;
}
.carousel-control>span.glyphicon {
    rgba(66, 139, 202, 0.2);
}

.carousel-indicators>li {
    border-color: rgba(66, 139, 202, 0.26)
}

.carousel-indicators>li.active {
    background-color: rgba(66, 139, 202, 0.26)
}

.zendesk-well {
    margin: 0 50px 50px;
}