.tile {
    box-shadow: 2px 2px 13px 0 rgba(1,1,0,.1);
    -webkit-border-radius: 6px;
    padding: 10px;
    border-radius: 6px;
    display: block;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    background-color: white;
    margin: 0 0 20px 0;
    /*max-width: 400px;*/
    margin-bottom: 15px;
}

.tile-name {font-size: 13px; text-transform: uppercase; margin-left: 15px;}
.tile-content {font-size: 14px; color: #666666;}
.tile-title {margin-top: 5px;}
.not-ok {color: #FF794C;}
.tile-content {font-size: 90%;}
.stress {font-weight: bold;}
.tile-icon {height: 18px; margin: 0 0 -3px 8px; opacity: 0.6;}
.tile-title {text-align: center;}
.loader {text-align: center;}

.score-badge {
    display: block;
    height: 22px;
    padding: 4px 0;
    color: black;
    width: 23px;
    border: 1px dotted #000000;
    border-radius: 100%;
    background-color: white;
}

.tile-zendesk {
    max-width: 100% !important;
}
.tile-icon-wrapper {
    text-align: left;
}

.carousel-content {
    background: white;
    color:black;
    display:flex;
    align-items:center;
}
.carousel-control {
    background-image: none !important;
    width: 40px;
}

.carousel-control>span.glyphicon, .carousel-control>span.glyphicon:hover {
    color: rgb(229, 236, 245);
}

.carousel-indicators>li {
    border-color: rgba(66, 139, 202, 0.26);
}

.carousel-indicators>li.active {
    background-color: rgba(66, 139, 202, 0.26);
}

.zendesk-well {
    margin: 0 50px 50px;
}

.loading-inline {
    height: 14px;
}

th {text-align: left !important ;}

#search-type-toggle {opacity: 0; height: 0;}
#search-type-icon-active {height: 18px; margin: 3px 7px; opacity: 0.6;}
.search-type-icon {height: 18px; margin: 0 11px -3px -6px; opacity: 0.6;}
#submit {
    left: inherit;
    top: 5px;
    right: 15px;
    padding-right: 15px;
}
#submit>div.icon-addon {height: 48px;}
#account-input {
    font-size: 16px;
    font-weight: lighter;
    padding: 22px 0;
    text-align: center;
}
.dropdown-menu {
    margin: -16px 0;
}

.dropdown-menu>li>a {
    outline: none;
}

::-webkit-input-placeholder {
   text-align: center;
}
.center-wrapper {text-align: center;}
.device-color {font-size: 9px; font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif; margin-right: 10px;}
#popover-close {font-size: 8px;}
.popover {opacity: 0.8;}
.label-uptime-terminal {opacity: 0.6;}
.tile-col {padding: 5px;}
.tile-col-first {padding-left: 0;}
.paddingless-left {padding-left: 0}
.container {max-width: 1300px;}
::-webkit-input-placeholder {color: red;}
.hits {margin-bottom: 15px;}
ul.extra>li {display: inline; margin: 0 0 0 8px;}
.table{margin-bottom: 0;}
.modal-title {text-transform: uppercase; font-size: 13px;}
.modal-body {font-size: 14px; color: #666666;}
a {color: #4CB9FF;}

.grid .tick>line {
    stroke: #E5E5E5;
    opacity: 0 !important;
}

.grid .tick>text {
    stroke: #4CB9FF;
}

.grid path {
    stroke-width: 0;
}

.hippo {
    border: 1px solid #E5E5E5;
    padding: 10px 0 0 0 !important;
    margin-top: 10px;
}

svg {
    margin: 0 -4px -7px -4px;
}