.tile {
    box-shadow: 2px 2px 13px 0 rgba(1,1,0,.1);
    -webkit-border-radius: 6px;
    padding: 20px;
    border-radius: 6px;
    display: block;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    background-color: white;
    margin-bottom: 20px;
}

body {
    background-image: url(/static/image/grey.png);
}

.tile-title {text-align: center; text-transform: uppercase;}
.submit {min-width: 100%;}
::-webkit-input-placeholder {
   text-align: center;
}

textarea {
    height: 30vh !important;
}

#refresher {
    display: none;
}

#start, #end {
    padding-left: 40px;
}