.docs-count {text-align: right; text-decoration: underline;}
.showLineBreaks {white-space: pre;}
table.table-bordered>thead>tr>th, table.table-bordered>tbody>tr>td {border: 1px dashed brown;}
#content {font-size: 75%;}
#filters {margin-top: 5px;}
span.glyphicon-search {top: 1px; font-size: 18px;}
button.btn-circle {margin: -27px; height: 50px; width: 50px;}
#slider-narration {font-size: 9px;}
span.label-suripu-service {background-color: rgba(223, 35, 114, 0.47); font-size: 11px;}
span.label-suripu-app {background-color: rgba(70, 159, 205, 0.47); font-size: 11px;}
span.label-suripu-research {background-color: rgba(55, 78, 20, 0.47); font-size: 11px;}
span.label-suripu-workers {background-color: rgba(200, 76, 205, 0.47); font-size: 11px;}