#header {background: #475f7d url(image/menu-pattern.png); padding: 10px; color: #F2F7FB; text-align: right;}
#content {margin: 0 15px 15px 15px;}
#footer {background: #F2F7FB url(image/menu-pattern.png); padding: 10px; color: gray; text-align: center; opacity: 0.7}

.normal {border: 1px solid #90ADE6; transition: all 2s;}
.success {border: 1px solid #61c4bd; transition: all 2s ease-in;}
.failure {border: 1px solid #ce4c40; transition: all 5s ease-in;}

.fancy-box {background: #D2EEFB; padding: 10px 10px 0 10px; border-radius: 5px; border: 1px solid #90ADE6;}
.fancy-line {border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); margin: -7px 0 5px 0; opacity: 0.9;}
.col-xxl {max-width: 1000px;}

table.table>tbody>tr>td {display: table-cell; vertical-align: middle;}
table.table>thead>tr>th {display: table-cell; vertical-align: middle; text-align: center;}
button.btn-circle {border-radius: 100%; width: 32px; height: 32px; margin: 10px auto; display: table; color: #ffffff; background-color: rgba(45, 193, 205, 0.34);}
h3 {text-align: center;}