html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {font-size: 100%; color: rgb(32, 32, 32);;}

#header {background: #475F78 url(image/menu-pattern.png); padding: 10px 0; margin: 0 auto; color: #F2F7FB; width: 100%; position: fixed; top: 0; z-index: 999; -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;}
#header>div{text-align: center;}
#header.dev {background: #475F78 url(image/menu-pattern.png);}
#menu {color: rgba(0, 0, 139, 0.18);}
#menu>a, #sub-menu>a {color: deepskyblue;margin-right: 10px;}
#sub-menu>a {font-size: 90%;}
#sub-menu {margin-left: 10% !important; margin-top: 10px;}
#menu>a:hover, #sub-menu>a:hover {text-decoration: none; -webkit-stroke-width: 7px;-webkit-stroke-color: #B0FC23; -webkit-fill-color: #B0FC23; text-shadow: 1px 0 20px #B0FC23;}
#menu>a.menu-active, #sub-menu>a.menu-active {color: #B0FC23; text-decoration: none; -webkit-stroke-width: 7px;-webkit-stroke-color: #B0FC23; -webkit-fill-color: #B0FC23; text-shadow: 1px 0 20px #B0FC23;}
#menu>a>span.glyphicon {margin: 0 7px;}

#content {margin: 70px 15px 0 15px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 85%;}

#footer {background: #F2F7FB url(image/menu-pattern.png); padding: 6px; color: gray; text-align: center; opacity: 0.5; width: 100%; position: fixed; bottom: 0;}


.normal {border: 1px solid #90ADE6; transition: all 2s;}
.success {border: 1px solid #61c4bd; transition: all 2s ease-in;}
.failure {border: 1px solid #ce4c40; transition: all 5s ease-in;}

.fancy-box {background: #D2EEFB; padding: 10px 10px 0 10px; border-radius: 5px; border: 1px solid #90ADE6;}
.fancy-line {border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); margin: 0 0 10px 0; opacity: 0.9;}
.col-xxl {max-width: 1000px;}

table.table>tbody>tr>td {display: table-cell; vertical-align: middle;}
table.table>thead>tr>th {display: table-cell; vertical-align: middle; text-align: center;}
button.btn-circle {border-radius: 100%; width: 32px; height: 32px; margin: 10px auto; display: table; color: #ffffff; background-color: rgba(45, 193, 205, 0.34);}
span.label {font: 75% lighter "Lucida Grande", Verdana, Arial, sans-serif}
body h3 {text-align: center; font: 20px "Century Gothic",CenturyGothic,AppleGothic,sans-serif}

div.bootstrap-tagsinput {min-width: 100%;}
div.bootstrap-tagsinput>span.label {font-size: 12px;}
div.long-tagsinput-highlight {border-color: deepskyblue;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px lightblue;outline: 0 none;}
code.nonscript {background: #ffffff; color: #003333;}

div.slider-handle {background: orangered; border-radius: 4px;}
div.slider-selection {background: coral;}
div.slider-track {background: antiquewhite;}
div.slider div.tooltip {display: none;}

.cursor-hand {cursor: pointer;}
.cursor-custom {cursor: url("/static/css/image/copy.png"), auto;}
.cursor-custom:hover {-webkit-stroke-width: 7px;-webkit-stroke-color: yellow; -webkit-fill-color: yellow; text-shadow: 1px 0 20px yellow;}

div.bootstrap-tagsinput>input {height: 25px;}
ul.dropdown-menu {min-width: 50px; opacity: 0.8;}

button.btn:focus {outline: none !important;}
a.menu-transparent, .menu-transparent>a {display: none;}
a.menu-inactive {opacity: 0.5;}
/*::-webkit-scrollbar {display: none;}*/
