html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    max-width: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {font-family: "proxima-nova" sans-serif; background-color: #E8E9ED;}

.header {background-color: rgba(162, 164, 169, 0.09); height: 40px; position: fixed; width: 100%; margin: 0; z-index: 2;}
.header-title {color: #000000; text-transform: uppercase; text-decoration: none; font-size: 13px; width: 127px; position: fixed; margin-left: 15px;}
.header-logo {float: left; height: 20px; margin: 9px 10px 0 5px;}
.header-name {margin-top: 13px;}
.header-logout {margin: 13px 0 0 -15px;}
.header-logout>span {text-transform: uppercase; font-size: 13px; float: right; color: #959596;}
.header-namespace { margin-top: 11px; padding-left: 190px;}
.header-namespace>span {color: #959596; font-size: 13px; text-transform: uppercase; cursor: pointer;}
.header-namespace>span.namespace-active {color: #009CFF;}
.header-namespace>span:hover, .header-logout>span:hover {color: #009CFF; cursor: pointer;}
#menu>a>span.glyphicon {margin: 0 7px;}

#menu {color: rgba(0, 0, 139, 0.18);}
#menu>a, #sub-menu>a {color: deepskyblue;margin-right: 10px;}
#sub-menu>a {font-size: 90%;}
#sub-menu {margin-left: 10% !important; margin-top: 10px;}


/* For Sidebar */
.sidebar {margin: 0; width: 200px; float: left; position: relative; z-index: 1; padding: 0 15px;}
.list-group-item {position: relative; background-color: #FFFFFF; border-top-style: none; border-bottom-style: none; font-size: 13px; font-weight: 200; color: #666666; border-radius: 0 !important; padding: 10px 20px;}
span.sidebar-group {font-weight: 500; font-size: 12px; text-transform: uppercase;}
span.list-group-item-active>a, a.list-group-item:hover {color: #42B5FF; background-color: #FFFFFF;}
a.list-group-item-deprecated {text-decoration: line-through; font-weight: 100;}
div.list-group-separator {height: 40px; padding-top: 1px;}
span.sidebar-group-first {padding-top: 63px;}
span.sidebar-group-last {padding-bottom: 20px;}


#content {margin: 0; padding: 60px 0 60px 205px;}
#footer {background: rgba(162, 164, 169, 0.09); padding: 6px; color: #999999; text-align: center; width: 100%; position: fixed; bottom: 0; font-size: 13px;}


.normal {border: 1px solid #90ADE6; transition: all 2s;}
.success {border: 1px solid #61c4bd; transition: all 2s ease-in;}
.failure {border: 1px solid #ce4c40; transition: all 5s ease-in;}

.fancy-box {background: #D2EEFB; padding: 10px 10px 0 10px; border-radius: 5px; border: 1px solid #90ADE6;}
.fancy-line {border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); margin: 0 0 10px 0; opacity: 0.9;}
.col-xxl {max-width: 1000px;}

table.table>tbody>tr>td {display: table-cell; vertical-align: middle;}
table.table>thead>tr>th {display: table-cell; vertical-align: middle; text-align: center;}
button.btn-circle {border-radius: 100%; width: 32px; height: 32px; margin: 10px auto; display: table; color: #ffffff; background-color: rgba(45, 193, 205, 0.34);}
/*span.label {font: 75% lighter "Lucida Grande", Verdana, Arial, sans-serif}*/
body h3 {text-align: center; font-size: 20px;}

div.bootstrap-tagsinput {min-width: 100%;}
div.bootstrap-tagsinput>span.label {font-size: 12px;}
div.long-tagsinput-highlight {border-color: deepskyblue;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px lightblue;outline: 0 none;}
/*code.nonscript {background: #ffffff; color: #003333;}*/

div.slider-handle {background: orangered; border-radius: 4px;}
div.slider-selection {background: coral;}
div.slider-track {background: antiquewhite;}
div.slider div.tooltip {display: none;}

.cursor-hand {cursor: pointer;}
.cursor-custom {cursor: url("/static/image/copy.png"), auto;}
.cursor-custom:hover {-webkit-stroke-width: 7px;-webkit-stroke-color: yellow; -webkit-fill-color: yellow; text-shadow: 1px 0 20px yellow;}

div.bootstrap-tagsinput>input {height: 25px;}
ul.dropdown-menu {min-width: 50px; opacity: 0.8;}

button.btn:focus {outline: none !important;}
a.menu-transparent, .menu-transparent>a {display: none;}
a.menu-inactive {opacity: 0.5;}
em {font-style: italic;}

html {
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 650px) {
  .sidebar, .header-name, .header-logout-email {display: none;}
  .header-title {width: 75px !important; }
  .header-namespace {padding-left: 50px;}
  .header-logout {margin-left: -45px;}
  #content {padding-left: 36px;}
}

.center-wrapper {text-align: center;}
.right-wrapper {text-align: right;}
.paddingless {padding: 0;}
.btn-group.open {width: 175px;}
.btn-round {border-radius: 50%;}
.btn-fade {opacity: 0.5;}

#err {color: #FFA081;}