span.form-control-feedback {margin-top: -25px}
table.table>thead>tr>th {text-align: left;}
div.checkbox input[type=checkbox] {margin: 0;}
div.checkbox {margin-top: 40px;}
table.table-bordered>thead>tr>th, table.table-bordered>tbody>tr>td {border: 1px dashed brown;}
table.table>thead>tr>th{font: 11px "Lucida Console", sans-serif; text-align: center;}
div.checkbox {display: table-cell;}
table.table input[type="text"] {margin-top: 12px;}
table.table input[type="checkbox"] {margin-left: 45px;}
table.table-bordered>thead>tr>th, table.table-bordered>tbody>tr>td {border: 1px solid #E8E8EE;}
table.table-bordered>tbody>tr>td{text-align: right;}
#fw_seen { overflow-y: scroll; height: 300px;}
#device_list { overflow-y: scroll; max-height: 500px;}
.timestamp {font-size: 9em;}
span.human-version {display: block; font-weight: bold;}