#refresh {display: none;}
#feature-input{max-width: 100%;}
#groups-input {padding-bottom: 50px;}
table.table td{text-align: center;}
.remark {font-size: 11px; float: right; margin-top: 6px;}
.ids-all {float: right; width: 20px;}
.ids-val {display: none;}
.superscript {font-size: 7px; margin-bottom: 5px;}
button {margin-right: 10px; opacity: 0.9;}
#mode-input {max-width: 200px;}
.form-group:first-child {margin-left: 16px;}
tbody {background-color: #F7F8FA;}
.fw-group-ids {display:inline-block; overflow:auto; text-overflow: ellipsis; max-height: 100px;}