body {background: #f2f7fb; font-family: Helvetica Neue, sans-serif;}
.row {overflow: hidden; padding: 0 15px 10px 10px;}

.tokenForm,.accountForm,.recentUsersForm {background: #f2f7fb; padding: 10px 10px 0 10px; border-radius: 5px;}
.recentUsersForm form {margin-bottom: 6px;}
#header {background: #475f7d; padding: 10px; color: #f2f7fb; text-align: right;}
#header a {margin-left: 10px;}
#tools {margin-top: 20px;}
#email-filter{border-top-right-radius: 5px; border-bottom-right-radius: 5px}
.normal {border: 1px solid rgba(0,0,0,0.1); transition: all 1s ease-in;}
.success {border: 1px solid #61c4bd; transition: all 1s ease-in;}
.failure {border: 1px solid #ce4c40; transition: all 1s ease-in;}

hr.fancy-line {border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); margin: -7px 0 5px 0; opacity: 0.9;}
h3 {text-align: center;}
button.btn-circle {border-radius: 100%; width: 32px; height: 32px; margin: 10px auto; display: table; color: #ffffff; background-color: rgba(45, 193, 205, 0.34);}
#token-display {margin: 0 auto; display: table; font-style: oblique;}
span.glyphicon-plus {margin: 0 0 2px -2.75px;}
span.glyphicon-send {margin: 0 0 2px -5px;}
