svg {height: 40vh !important; width: 100% !important; margin-top: -30px !important;}
span.glyphicon-search, span.glyphicon-filter {top: 1px; font-size: 15px;}
button.btn-circle {margin: 0; height: 37px; width: 37px; padding: 3px;}
#start-time, #end-time {font-size: 75%;}