#page-name {margin-left: 15px;}
svg {height: 350px; width: 100%; background-color: white; border-radius: 3px;}
.chart-title {display: table; margin: 10px auto;}
#modal-trigger {display: none;}
.nvd3 g.nv-groups path.nv-line {stroke-width: 1px;}