body{background: #f2f7fb; font-family: 'Helvetica Neue', arial; padding: 0; margin: 0;}
#content{width:400px;}
.row{overflow: hidden;background: white;}
#search {margin-left: 50px;}
#token, #account{width:45%;float:left;}
.searchBox{background:white;padding:10px; margin: 10px;}
.searchForm{background:#f2f7fb;padding: 10px;border-radius: 5px;}
#header{background:#475f7d;padding:10px;color:#f2f7fb;text-align: right;}
#header a {margin-left: 10px;}

.normal {border:1px solid rgba(0,0,0,0.1);transition: all 1s;}
.success{
    border:1px solid #61c4bd;
    transition: all 1s ease-in;
}

.failure{
 border:1px solid #ce4c40;
 transition: all 1s ease-in;
}

.input-box {margin: 10px 0 10px 0;}
.tools {margin: 0 0 30px 30px;}
/*hr {clear:left;border:0;height:0;background: rgba(0,0,0,0.1);margin:10px 0;}*/

