.span-upload-ts {
    font-weight: bold;
}
.center-wrapper {
    text-align: center;
}

.time-window {
    border: none;
}

#start, #end {
    padding-left: 40px;
}

.highlight {
    color: red;
}

.zero-padding-right {
    padding-right: 0;
}

.zero-padding-left {
    padding-left: 0;
}

.borderless {
    border: none;
}