#row-basic-search, #row-advance-search {height: 75px;}
.mode {cursor: pointer; color: #009CFF;}
.mode-wrapper{font-size: 70%; margin-top: 12px;}

.span-upload-ts {
    font-weight: bold;
}
.center-wrapper {
    text-align: center;
}

.time-window {
    border: none;
}

#start, #end {
    padding-left: 40px;
}

.highlight {
    color: red;
}

.zero-padding-right {
    padding-right: 0;
}

.zero-padding-left {
    padding-left: 0;
}

.borderless {
    border: none;
}

tbody {
    background-color: #f5f5f5;
}

.pager {margin: 0;}
.size-input {padding: 6px 9px;}

.splitter {margin: 5px 0;}
.logs-meta {font-size: 12px; text-transform: uppercase; font-weight: bold}
.logs-content {font-size: 13px; margin-left: 10px; border: 1px solid #BFE6FF; border-radius: 4px; padding: 8px;}
.es-summary {font-size: 12px; text-transform: uppercase; color: #41D7AA; text-align: right; margin-right: 18px;}
.row-invisible {display: none;}
.sort-wrapper {font-size: 12px; color: #95959C;}

.surrounding-logs {font-size: 9px;}

.modal-footer {text-align: center; margin-top: -20px; padding-top: 0; border: none;}
.modal-body {font-size: 13px;}
.modal-title>button {right: 10px; position: absolute;}
.modal-subtitle {color: #999999; font-size: 11px; margin-top: 5px;}
.modal-col-title {text-transform: uppercase; color: #000000; font-weight: lighter; font-size: 10px;}
.modal-fw-man {color: #41D7AB;}
.well {min-height: 10px; padding: 10px 10px 21px 10px;}

.lucene-fields {color: #009BFF;}
.lucene-operators {color: #FF794C;}