span.glyphicon-plus {margin: 0 0 2px -2.75px;}
span.glyphicon-send {margin: 0 0 2px -5px;}
span.glyphicon-flash {margin: 0 0 2px -3px;}
#magic {display: none}
#token-display {text-align: center;}
table.table>thead>tr>th {text-align: left;}