#refresh {display: none;}
#feature-input{max-width: 100%;}
#groups-input {padding-bottom: 50px;}
table.table td{text-align: center;}
.remark {font-size: 11px; float: right; margin-top: 6px;}
button {margin-right: 10px; opacity: 0.9;}