table.table>tbody>tr>td.sid {font-size: 12px}
table.table>thead>tr>th {text-align: left;}
#email-filter{border-top-right-radius: 5px; border-bottom-right-radius: 5px}
#token-display {margin: 0 auto; display: table; font-style: oblique;}
#content {font-size: 80%;}
.row-lefty {margin-left: 15px;}
.col-paddingless {padding: 0 !important}
.fancy-box {padding-bottom: 5px;}
thead {display: block}
tbody {display: block; overflow-y: scroll; overflow-x: hidden;}
#recent-users-table>tbody {height: 62vh;}
#user-search-table>tbody {height: 60vh;}
.narration {font-style: italic; font-size: 70%; margin-left: 70%;}