body {background: #f2f7fb; font-family: Helvetica Neue, sans-serif; padding: 25px 50px;}

.normal {border: 1px solid #FFFFFF; transition: all 2s;}
.success {border: 1px solid #61c4bd; transition: all 2s ease-in;}
.failure {border: 1px solid #ce4c40; transition: all 5s ease-in;}

.row {overflow: hidden; background: #FFFFFF;}

#container {padding-bottom: 20px; border-radius: 5px;}
#page-name {margin-left: 15px;}

#magic {display: none}
hr.fancy-line {border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); margin: -7px 0 5px 0; opacity: 0.9;}

svg {height: 350px;}
.chart-title{display: table; margin: 0 auto;}
