<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        Admin &#10148;
        {% block title %}
        {% endblock %}
    </title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block static %}
    <script type="text/javascript" src="/static/js/third-party/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-bootstrap-0.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/typeahead.js"></script>

    <script type="text/jsx" src="/static/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/glyphicon-control.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/tablesorter-control.css"/>
    {% endblock %}

    {% block extrastatic %}
    {% endblock %}

</head>
<body>
    <div id="header" class="row">
        <div id="menu" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <a {% if title == "Users" %} class="menu-active"{% endif%} href='/'><span class="glyphicon glyphicon-user"></span><span>Users</span></a>|
            <a {% if title == "Troubleshoot" %} class="menu-active"{% endif%} href='/troubleshoot'><span class="glyphicon glyphicon-dashboard"></span><span>Troubleshoot</span></a>|
            <a {% if title == "Zendesk" %} class="menu-active"{% endif%} href='/zendesk'><span class="glyphicon glyphicon-headphones"></span><span>Zendesk</span></a>|
            <a {% if title == "Sense" %} class="menu-active"{% endif%} href='/sense'><span class="glyphicon glyphicon-stats"></span><span>Sense</span></a>|
            <a {% if title == "Log" %} class="menu-active"{% endif%} href='/debug_log'><span class="glyphicon glyphicon-list-alt"></span><span>Log</span></a>|
            <a {% if title == "Firmware" %} class="menu-active"{% endif%} href='/firmware'><span class="glyphicon glyphicon-flash"></span><span>Firmware</span></a>|
            <a {% if title == "Teams" %} class="menu-active"{% endif%} href='/teams'><span class="glyphicon glyphicon-fire"></span><span>Teams</span></a>|
            <a {% if title == "Configuration" %} class="menu-active"{% endif%} href='/configuration'><span class="glyphicon glyphicon-cog"></span><span>Configuration</span></a>|
            <a {% if title == "Settings" %} class="menu-active"{% endif%} href='/settings'><span class="glyphicon glyphicon-wrench"></span><span>Settings</span></a>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            Hello, {{user}}! <a href="{{logout_url}}"> Logout</a>
        </div>
    </div>
    <div class="row" id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        hello-admin app version: {{version}}
    </div>
</body>