<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        Admin &#10148;
        {% block title %}
        {% endblock %}
    </title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block static %}
    <script type="text/javascript" src="/static/js/third-party/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-bootstrap-0.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/typeahead.js"></script>
    <script type="text/jsx" src="/static/js/base.js"></script>
    <script type="text/jsx" src="/static/js/sidebar.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-xl.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/glyphicon-control.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/tablesorter-control.css"/>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% endblock %}

    {% block extrastatic %}
    {% endblock %}

</head>
<body>

{#        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">#}
{#            <span>Hi {{user}}!</span><br>#}
{#            <a href="{{logout_url}}"> Logout</a>#}
{#        </div>#}
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" id="sidebar"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        hello-admin app version: {{version}}
    </div>
</body>