{% extends "templates/base.html" %}

{% block static %}
<script type="text/javascript" src="/static/js/third-party/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/static/js/third-party/react-with-addons-0.13.3.min.js"></script>
<script type="text/javascript" src="/static/js/third-party/JSXTransformer-0.13.3.js"></script>
<script type="text/javascript" src="/static/js/third-party/react-bootstrap-0.21.2.min.js"></script>
<script type="text/jsx" src="/static/js/base.js"></script>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-xl.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/third-party/glyphicon-control.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/third-party/tablesorter-control.css"/>

<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
{% endblock %}

