<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        Admin &#10148;
        {% block title %}
        {% endblock %}
    </title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block static %}
    <script type="text/javascript" src="/static/js/third-party/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
    <script type="text/javascript" src="/static/js/third-party/react-bootstrap-0.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/underscore.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/typeahead.js"></script>
    <script type="text/jsx" src="/static/js/base.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-xl.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/glyphicon-control.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/tablesorter-control.css"/>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% endblock %}

    {% block extrastatic %}
    {% endblock %}

</head>
<body>
    <div id="header" class="row">
       <div class="col-xs-6">
            {% for nsp in available_namespaces %}
                <span
{#                        onclick="if('{{nsp}}' !== '{{namespace}}') {#}
{#                                  document.cookie ='namespace={{nsp}}';#}
{#                                  location.reload();#}
{#                              }"#}
                    onclick="window.location='/api/namespace/?namespace={{nsp}}'"
                {% if nsp == namespace %}class="namespace-active" {% endif %}>
                    {{nsp}}
                </span>&nbsp;&nbsp;
            {% endfor %}
        </div>
        <div>
            <span>Hi {{user}}! <a href="{{logout_url}}"> Logout</a></span>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="viewer" value="{{user}}">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" id="sidebar"></div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div id="footer">
        hello-admin app version: {{version}}
    </div>
</body>
<div class="preloader" style="display:none;"></div>
