{% extends "templates/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <script type="text/javascript" src="/static/js/third-party/spectrum.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap-slider.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-slider.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/configuration.css" />
    <script type="text/javascript" src="/static/js/third-party/bootstrap-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/third-party/long-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/configuration.js"></script>

{% endblock %}

{% block content %}
    <h3>Configuration</h3>
    <hr class="fancy-line"/>
    <div id="configuration"></div>
    <div id="bstagsinput"></div>
{% endblock %}
