{% extends "templates/base.html" %}

{% block content %}
    <form method="POST" action="/api/create_key_store_locker/">
        <p>
            <select name="key_id">
                <option value="dvt">DVT</option>
                <option value="pvt">PVT</option>
                <option value="mp">MP</option>
            </select>
        </p>
        <p>
            <textarea name="keys">
            </textarea>
        </p>
        <p>
            <input type="submit" />
        </p>
    </form>
{% endblock %}
