{% extends "templates/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <script type="text/javascript" src="/static/js/third-party/spectrum.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap-slider-4.8.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-slider-4.8.1.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/features.css" />
    <script type="text/javascript" src="/static/js/third-party/bootstrap-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/third-party/long-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/features.js"></script>

{% endblock %}

{% block content %}
    <div id="configuration"></div>
{% endblock %}
