{% extends "templates/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <script type="text/javascript" src="/static/js/third-party/react-bootstrap.min.js"></script>
    <script type="text/jsx" src="/static/js/firmware.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/firmware.css" />
{% endblock %}

{% block content %}
    <h3>Firmware Manager</h3>
    <hr class="fancy-line"/>
    <div id="firmware-manager" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
{% endblock %}
