{% extends "templates/base_latest_react.html" %}

{% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="/static/css/react/index.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/c3.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/recent_accounts.css" />

    <script type="text/javascript" src="/static/js/third-party/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/c3.min.js"></script>

    <script type="text/jsx" src="/static/js/react/react-datagrid.min.js"></script>
    <script type="text/jsx" src="/static/js/recent_accounts.js"></script>

{% endblock %}

{% block content %}
    <div id="recent-accounts"></div>
    <div id="account-breakdown"></div>
{% endblock %}
