{% extends "templates/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/users.css"/>
    <script type="text/javascript" src="/static/js/third-party/jquery.tablesorter.min.js"></script>

    <script type="text/javascript" src="/static/js/third-party/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/bootstrap-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/third-party/long-tagsinput.js"></script>
    <script type="text/jsx" src="/static/js/recent_users.js"></script>
    <script type="text/jsx" src="/static/js/omni_search.js"></script>
    <script type="text/jsx" src="/static/js/device_owner_search.js"></script>


{% endblock %}

{% block content %}
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
        <h3>Recent Users</h3>
        <hr class="fancy-line"/>
        <div id="recent-users"></div>
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
        <div class="search-panel">
            <h3>Search</h3>
            <hr class="fancy-line"/>
            <ul class="nav nav-tabs" id="search-modes">
                <li class="active"><a href="#by-email" data-toggle="tab">Omni</a></li>
                <li><a href="#by-devices" data-toggle="tab">By Multiple Devices</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="by-email"></div>
                <div class="tab-pane col-sm-12 col-xs-12 col-md-12 col-lg-12" id="by-devices"></div>
            </div>
        </div>
    </div>
{% endblock %}
