{% extends "templates/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <script type="text/javascript" src="/static/js/third-party/jquery.tablesorter.min.js"></script>
    <script type="text/jsx" src="/static/js/recent_users.js"></script>
    <script type="text/jsx" src="/static/js/user_search.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/users.css"/>
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
        <h3>Recent Users</h3>
        <hr class="fancy-line"/>
        <div id="recent-users"></div>
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
        <h3>Basic Search</h3>
        <hr class="fancy-line"/>
        <div id="user-search"></div>
    </div>
{% endblock %}
