<html>
<head>
    <title>Hello Admin tool</title>
        <script src="/static/js/third-party/jquery-1.11.1.min.js"></script>
        <script src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
        <script src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
        <script src="/static/js/third-party/bootstrap.min.js"></script>
        <script src="/static/js/third-party/underscore.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css" />
</head>
<body>
    <div class="row">
        <div id="search" class="col-md-10"></div>
    </div>
    <script type="text/jsx" src="/static/js/search.js"/>
</body>
</html>