<html>
<head>
    <title>Hello Admin tool</title>
    <script src="/static/js/third-party/jquery-1.11.1.min.js"></script>
    <script src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
    <script src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
    <script src="/static/js/third-party/bootstrap.min.js"></script>
    <script src="/static/js/third-party/underscore.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/user_dashboard.css" />
</head>
<body>
    <div class="row" id="container">
        <h3 id="page-name">User Dashboard</h3>
        <div class="col-xs-6" id="dashboard"></div>
    </div>
    <script type="text/jsx" src="/static/js/user_dashboard.js"></script>
</body>
</html>