<html>
<head>
    <title>{{title}}</title>
    <script src="/static/js/third-party/jquery-1.11.1.min.js"></script>
    <script src="/static/js/third-party/react-with-addons-0.11.2.min.js"></script>
    <script src="/static/js/third-party/JSXTransformer-0.11.2.js"></script>
    <script src="/static/js/third-party/bootstrap.min.js"></script>
    <script src="/static/js/third-party/underscore.min.js"></script>
    <script src="/static/js/third-party/d3.min.js"></script>
    <script src="/static/js/third-party/nv.d3.min.js"></script>
    <script src="/static/js/third-party/fisheye.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/nv.d3.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/viz.css" />
</head>
<body>
    <div class="row" id="container">
        <h3 id="page-name">Data Visualization</h3>
        <hr class="fancy-line"/>
        <div class="col-xs-12" id="viz"></div>
    </div>
    <script type="text/jsx" src="/static/js/viz.js"></script>
</body>
</html>