{% extends "templates/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastatic %}
    <script type="text/javascript" src="/static/js/third-party/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/js/third-party/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/third-party/nv.d3.min.js"></script>
    <script type="text/jsx" src="/static/js/zendesk.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/bootstrap-datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/third-party/nv.d3.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/zendesk.css" />
{% endblock %}

{% block content %}
    <div class="row" id="container">
        <h3 id="page-name">Zendesk Hub</h3>
        <hr class="fancy-line"/>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="zendesk"></div>
    </div>
{% endblock %}
